@layout('layouts/main.edge')
@set('title', 'Login')
@section('body')
      <div style="background-color: #211d36;" class="h-screen w-full flex flex-col justify-center items-center text-white">
        <!-- <h3 class="text-4xl font-bold">Central Board of Secondary Education</h3> -->
        <img src="/images/logo-dark.png" alt="" class="mr-6 w-1/2 md:w-1/4">
        <a href="/login" class="mt-4 py-2 px-6 border border-white rounded">Login</a>
      </div>
  @end
